* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  
}

a {
  text-decoration: none;
}

.sidebar {
  box-shadow: 2px 4px 20px #2c2c63;
  position: fixed;
  margin-top: 52px;
  background: rgb(82, 131, 184);
  color: white;
  height: 100vh;
  
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  font-size: 18px;
  /* font-family:Arial, Helvetica, sans-serif; */
  color: #eed687;
  font-weight: bold;
}

.logo {
   font-size: 10px; 
  /* font-weight: bold; */
  
  /* line-height: 0px; */
}
.link {
  display: flex;
  color: white;
  gap: 10px;
  border-right: 4px;
  padding: 5px 10px;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  border-style : solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: rgb(82, 131, 184); 
  box-shadow: 1px 4px 9px #30333d;
  text-decoration: none;
}

